.hero {
    color: white;
    background-image: url('../../../assets/livello_1_2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        max-width: 800px;
        font-size: 60px;
    }

    p {
        max-width: 586px;
        font-size: 20px;
        line-height: 1.6;
    }

    .scroll {
        position: absolute;
        bottom: 50px;
    }
}

.filter {
    padding: 50px 0;
    background: #f5f6f7;

    &-content {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }

    label {
        user-select: none;
        cursor: pointer;
    }

    button{
        width: 204px;
        height: 52px;
        background-color: #aa9b77;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.2;
        cursor: pointer;

        &:hover{
            background-color: sandybrown;
        }
    }
}

.about{
    width: 100%;
    height: 402px;
    background-color: #aa9b77;
    text-align: center;
    padding: 100px;
    
    h2{
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #837659;
    }

    p{
        font-size: 16px;
        font-weight: 600;
        color: #424242;
    }
}

.twitter{
    height: 72px;
    background-color: #535253;
    display: flex;
    align-items: center;
    padding: 0 50px;

    svg{
    width: 55px;
    height: 35px;
    fill: #424242;

    :hover{
        fill: rgb(0, 195, 255);
    }
    }

    p{
        font-size: 16px;
        line-height: 1.2;
        font-weight: 600;
        color: #ffffff;
    }
}

.footer{
    width: 100%;
    height: 352px;
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info{
        text-align: left;
        padding: 0 60px;

        h2{
            font-size: 20px;
            line-height: 1.2;
            font-weight: 600;
            text-transform: uppercase;
            color: #ffffff;
        }
        p{
            font-size: 10px;
            font-weight: 600;
            text-transform: uppercase;
            color: #ffffff;
        }
    }

    .nav2{
        text-align: right;
        margin-right: 30px;

        ul{
            margin: 0;
            padding: 0;
            font-size: 14px;
            list-style: none;
            display: flex;
            justify-content: flex-end;
        }

        @media (max-width: 1024px){
            ul{
                display: block;
            }
        }
    
        li{

            :hover{
                color: #aa9b77;
            }

            a{
                color: white;
                text-decoration: none;
                line-height: 28px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0 20px;
            }
        }

        p{
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
            margin-right: 20px;
        }
    }
}